.header { /* stylelint-disable */
    background-color: #fff;
    top: 0;
    border-bottom: 1px solid #e8e8e8;
    position: fixed;
    width: 100%;
    height: 35%;
    z-index: 20;
}

.navUser {
    padding: 0 2rem;
    position: relative;
    right: auto;
    width: 100%;
    top: auto;
    float:right;
    font-size: 12px;
    -webkit-transform: none;
    transform: none;
    z-index: 50;
}

.navUserItem {
    float: right;
    padding-left: 20px;
}


.navUserOr {
    padding-left:5px;
    padding-right: 5px;
}
.headerLogo{
	padding-top: 50px;
	text-align: center;
	opacity: 0.8;

}
.headerLogo:hover{
	opacity: 1;
	}
ul li {
	margin: 0;
	padding: 0;
}

li a {
	color: #4f4f4f;
	font-weight: bold;
	text-decoration: none;
}
li a:hover {
	color: #a1a1a1;

}


