.cart {
  position: absolute;
  width: 40%;
  top: 55px;
  right: 1px;
  background-color: #4F5366;
  color: #FFF;
  z-index: 10;
  border-radius: 5px;
  padding: 5px 15px;
}

.left {
  font-weight: bold;
  float: left;
  font-size: 19px;
  text-transform: uppercase;
}

.right {
  font-style: italic;
  float: right;
  font-size: 18px;
}

.clear {
  clear: both;
}

ul {
  padding: 10px 5px;
}

.list li {
  display: inline-block;
  width: 33%;
  padding: 5px;
}

.list li img:hover,
.list li img:focus {
  cursor: pointer;
  -moz-box-shadow: 0 0 10px #CCC;
  -webkit-box-shadow: 0 0 10px #CCC;
  box-shadow: 0 0 10px #CCC;
}

.list li img {
  width: 100%;
}

.btn_checkout {
  text-align: center;
  padding: 5px 10px;
  background: #7CFC00;
  border-radius: 6px;
  font-size: 17px;
  margin-bottom: 15px;
  margin-left: 7px;
}

.btn_checkout:hover,
.btn_checkout:focus {
  background: #5BB800;
  cursor: pointer;
}

.imgDiv {
  
}
