footer {
  padding: 3rem 0;
  border-top: 1px solid #E8E8E8;
  width: 100%;
  text-align: center;
}

/* Wrapper */
.iconButton {
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 3.6rem;
  line-height: 3.6rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem;
}

/* Circle */
.iconButton span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}

.iconButton:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}

.twitter span {
  background-color: #4099FF;
}

.facebook span {
  background-color: #3B5998;
}

.googlePlus span {
  background-color: #DB5A3C;
}

/* Icons */
.iconButton i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}

.iconButton.twitter i {
  color: #4099FF;
}

.iconButton.facebook i {
  color: #3B5998;
}

.iconButton.googlePlus i {
  color: #DB5A3C;
}

.iconButton.twitter:hover i,
.iconButton.facebook:hover i,
.iconButton.googlePlus:hover i {
  color: white;
}
