<<<<<<< HEAD


.footer { /* stylelint-disable */
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background: blue;
    text-align: center;
    font-size: 15px;
}



=======
.footer { /* stylelint-disable */

}
>>>>>>> f22eed6dce43265487abcde03aaece7ae922cdec
