.itemContent {
  color: #989898;
  margin-bottom: 3rem;
}

.itemContent img {
  max-width: 100%;
}

.itemContent button {
	background: #7CFC00;
	padding: 4px 10px;
	border-radius: 6px;
	float: right;
	color: white;
}

.itemContent button:hover {
	background: #63c900;
	color: white;
}
