.list {
  list-style: none;
  padding: 0;
}

.list li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media (min-width: 551px) {
  .list li {
    width: 33.3333%;
  }
}

@media (min-width: 801px) {
  .list li {
    width: 25%;
  }
}
