.productSpecs {
  padding-top: 2rem;
}

.divImages {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.divBig img {
  width: 100%;
  float: left;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  transition: all 1.5s ease;
}

.divBig img:hover {
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  transform: scale(1.15);
}

.divBig {
  overflow: hidden;
  width: 75%;
  float: left;
  height: 100%;
}

.divImages ul {
  float: right;
  width: 22%;
  margin-top: 0;
}

.clear {
  clear: both;
  height: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
}

.divInfo {
  float: right;
  width: 50%;
}

.productSpecs h2 {
  font-size: 2em;
  letter-spacing: 1px;
  padding-bottom: 2rem;
}

.productSpecs h3 {
  font-size: 1.4em;
}

.productSpecs p {
  font-size: 2em;
}

.imageList {
  list-style: none;
  padding: 0;
}

.imageList li {
  width: 100%;
  padding-left: 0.35714rem;
  padding-right: 0.35714rem;
}

.imageList li img {
  width: 100%;
  padding: 2px;
}

.imageList li img:hover {
  padding: 0;
  border: 2px solid black;
}

.button {
  padding: 0.21429rem 0.35714rem;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  color: #454545;
  line-height: 1rem;
  transition: border ease 0.3s, color ease 0.3s;
}

.button:hover {
  color: #666;
  border: 1px solid #696969;
}

.button i {
  height: 1.14286rem;
  width: 1.14286rem;
}

.counter {
  width: 2.5rem;
  font-family: inherit;
  color: #454545;
  font-weight: bold;
  text-align: center;
}

.addToCart {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ECC71;
  border: 0;
  border-bottom: 2px solid #28BE68;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28BE68;
  box-shadow: inset 0 -2px #28BE68;
}

.addToCart:hover,
.addToCart:focus {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 780px) {
  .productSpecs div > img {
    width: 100%;
  }

  .imageList li {
    width: 33.33%;
  }
}

@media screen and (max-width: 1150px) {
  .productSpecs div {
    width: 100%;
    text-align: center;
  }

  .productSpecs div > img {
    text-align: center;
    float: none;
  }

  .imageList li {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 2rem;
  }
}
